<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="/" class="logo"
            ><b><h1>Amazon</h1></b></a
          >
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="#features">About</a></li>
            <li><a href="/search">Search Products</a></li>
            <li><a href="/categories">Categories</a></li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
