{% extends 'layout.html' %} {% block body %}
<div class="welcome-area" id="welcome">
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div
          class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12"
        >
          <h1><strong>AMAZON</strong></h1>
          <p>
            Find out about the products from a customer point of view in the
            Women's Fashion, DIY Tools, Kitchen & Dining, Office Products and
            Sports Apparel and Equipment Categories.
          </p>
          <a
            href="https://en.wikipedia.org/wiki/Amazon_(company)"
            class="main-button-slider"
            >More Information on Amazon as a Company</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section padding-top-70 padding-bottom-0" id="features">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-5 col-md-12 col-sm-12 align-self-center"
        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
      >
        <img
          src="static/images/amazon-logo.png"
          class="rounded img-fluid d-block mx-auto"
          alt="App"
        />
      </div>
      <div class="col-lg-1"></div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix"
      >
        <div class="left-heading">
          <h2 class="section-title">Information Retrieval</h2>
        </div>
        <div class="left-text">
          <p>Find products from the above categories</p>
        </div>
        <a href="search" class="main-button-slider">Search for Products</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hr"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
