{% extends 'layout.html' %} {% block body %}
<div class="welcome-area" id="welcome">
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div
          class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12"
        >
          <h1><strong>AMAZON</strong></h1>
        </div>
        <div class="banner">
          <div class="col-md-12">
            <div class="submit-form">
              <form
                id="form-submit"
                name="search"
                action="/searchResults"
                method="get"
              >
                <div class="row">
                  <div class="col-md-6 second-item">
                    <fieldset>
                      <input
                        name="search"
                        type="text"
                        class="form-control"
                        id="search"
                        value="{{search}}"
                        placeholder="Search Product Title..."
                        required=""
                      />
                    </fieldset>
                  </div>

                  <div class="col-md-3 second-item">
                    <fieldset>
                      <input
                        name="description"
                        type="text"
                        value="{{description}}"
                        class="form-control"
                        id="description"
                        placeholder="Product Description..."
                      />
                    </fieldset>
                  </div>
                  <div class="col-md-3 second-item">
                    <fieldset>
                      <input
                        name="length"
                        type="number"
                        class="form-control"
                        id="product_length"
                        placeholder="Number of products"
                        value="{{length}}"
                        required=""
                      />
                    </fieldset>
                  </div>

                  <div class="col-md-3 second-item">
                    <fieldset for="category">
                      <select
                        name="category"
                        id="category"
                        value="{{category}}"
                        aria-label="Default select example"
                      >
                        <option value="">Select a Category</option>
                        <option value="DIY_Tools" {% if category == 'DIY_Tools' %} selected {% endif %}>DIY & Tools</option>
                        <option value="Office Products" {% if category == 'Office Products' %} selected {% endif %}>Office Products</option>
                        <option value="Sports Apparel_Equipment" {% if category == "Sports Apparel_Equipment" %} selected {% endif %}>
                          Sports Apparel & Equipment
                        </option>
                        <option value="Womens Fashion" {% if category == 'Womens Fashion' %} selected {% endif %}>Women's Fashion</option>
                        <option value="Kitchen & Dining" {% if category == 'Kitchen & Dining' %} selected {% endif %}>
                          Kitchen & Dining
                        </option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-md-3 second-item">
                    <fieldset for="rating">
                      <select
                        name="rating"
                        id="rating"
                        aria-label="Default select example"
                        value="{{rating}}"
                      >
                        <option value="">Select a Rating Value</option>
                        <option value="1" {% if rating == '1' %} selected {% endif %}>1</option>
                        <option value="2" {% if rating == '2' %} selected {% endif %}>2</option>
                        <option value="3" {% if rating == '3' %} selected {% endif %}>3</option>
                        <option value="4" {% if rating == '4' %} selected {% endif %}>4</option>
                        <option value="5" {% if rating == '5' %} selected {% endif %}>5</option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-md-3 second-item">
                    <fieldset for="sort">
                      <select
                        name="price"
                        id="price"
                        aria-label="Default select example"
                        value="{{price}}"
                      >
                        <option value="">Sort By</option>
                        <option value="3" {% if price == '3' %} selected {% endif %}>Most Relevant</option>
                        <option value="4" {% if price == '4' %} selected {% endif %}>Positive Products</option>
                        <option value="5" {% if price == '5' %} selected {% endif %}>Negative Products</option>
                        <option value="1" {% if price == '1' %} selected {% endif %}>Price-Lowest to Highest</option>
                        <option value="2" {% if price == '2' %} selected {% endif %}>Price-Highest to Lowest</option>
                      </select>
                    </fieldset>
                  </div>

                  <div class="col-md-3">
                    <fieldset>
                      <button type="submit" id="search" class="btn">
                        <i class="fa fa-search" style="font-size: 20px"></i>
                        Search Now
                      </button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<section class="featured-places" id="search_results">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <span>Search Results for query in about {{total_time}} seconds</span>
        </div>
      </div>
    </div>
    {% if products%} {% for product in products %}
    <div
      style="
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        padding: 60px;
        margin-bottom: 10px;
      "
    >
      <img
        src="{{product.image_url}}"
        alt="Product Image"
        style="margin-right: 10px; width: 250px; height: 250px"
      />
      <div style="flex: 1">
        <h3
          style="
            font-size: 20px;
            margin-bottom: 5px;
            font-family: Times New Roman;
          "
        >
          <a href="{{product.product_link}}">{{product.title}}</a>
        </h3>
        <h4
          style="
            font-size: 16px;
            margin-bottom: 5px;
            font-family: Times New Roman;
          "
        >
          ${{product.price}}
        </h4>
        <h4
          style="
            font-size: 16px;
            margin-bottom: 5px;
            font-family: Times New Roman;
          "
        >
          {{product.category}}
        </h4>
        <h4
          style="
            font-size: 16px;
            margin-bottom: 5px;
            font-family: Times New Roman;
          "
        >
          {% if product.rating != 'Not Rated Yet' %} {% for star in range(1,
          product.rating +1)%}
          <i class="fa fa-star" style="color: orange"></i>
          {% endfor %} {% for star in range(5-product.rating) %}
          <i class="fa fa-star"></i>
          {% endfor %} {% endif %}
        </h4>
        <h4 style="margin-bottom: 5px">
          {% if product.sentiment == 'Positive' %}
          <span class="material-icons" style="color: green; font-size: 32px"
            >sentiment_very_satisfied</span
          >
          {% elif product.sentiment == 'Negative' %}
          <span
            class="material-icons"
            style="color: lightcoral; font-size: 32px"
            >sentiment_very_dissatisfied</span
          >
          {% elif product.sentiment == 'Neutral' %}
          <span
            class="material-icons"
            style="color: lightsalmon; font-size: 32px"
            >sentiment_neutral</span
          >
          {% endif %}
        </h4>
        <p style="color: #666">{{product.full_prod_description}}</p>
        <div style="margin-top: 2px">
          {% if product.reviews%}
          <h2
            style="
              font-size: 20px;
              margin-bottom: 5px;
              font-family: Times New Roman;
              font-weight: 600;
            "
          >
            Customer Reviews:
          </h2>
          <ul style="list-style: none; margin: 0; padding: 0">
            {% for review in product.reviews %}

            <li style="margin-bottom: 5px; font-family: Times New Roman">
              <h2 style="font-size: 16px; font-family: Times New Roman">
                {% for star in range(1, review.review_rating +1)%}
                <i class="fa fa-star" style="color: orange"></i>
                {% endfor %} {% for star in range(5-review.review_rating) %}
                <i class="fa fa-star"></i>
                {% endfor %}
                <a href="{{review.review_url}}" style="padding-left: 5px"
                  >{{review.review_title}}</a
                >
              </h2>
            </li>
            <li style="font-family: Times New Roman">
              <p style="color: #666; margin-bottom: 0; padding-bottom: 0">
                {{review.date_country}}
              </p>
            </li>

            <li style="font-family: Times New Roman">
              <h4
                style="
                  font-size: 16px;
                  font-family: Times New Roman;
                  padding-bottom: 25px;
                "
              >
                {{review.review_content}}
              </h4>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>

    {% endfor %} {% else %}
    <div
      class="section-heading"
      style="padding-top: 0px; font-size: 28px; color: #4883ff"
    >
      {{error}}
      <div
        id="form-submit"
        name="search"
        action="/searchResults"
        method="get"
        style="font-size: 28px; color: #4883ff"
      >
        {% if suggestions %} Did you mean {% for suggestion in suggestions[:5]
        %}
        <span
          ><a
            href="http://127.0.0.1:8000/searchResults?search={{suggestion.word}}&length={{length}}&price={{price}}&category={{category}}&rating={{rating}}&description={{description}}"
            style="font-size: 20px; display: inline"
          >
            {{suggestion.word}}</a
          ></span
        >
        {% endfor %} {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</section>

<!-- ***** Search Result Area End ***** -->
{% endblock %}
